<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="july.lease.dao.productImage.ProductImageMapper">

	<insert id="save">
        <selectKey keyProperty="productImageId" resultType="Long" order="BEFORE">
            select seq_product_image_id.nextval
			from dual
        </selectKey>
        insert into product_image(product_image_id, product_id,
        						  upload_image_name, store_image_name)
		values(#{productImageId}, #{productId},
			   #{uploadImageName}, #{storeImageName})
    </insert>
	
	<select id="findAllByProductId" resultType="ProductImage">
		select product_image_id, product_id,
			   upload_image_name, store_image_name
		from product_image
		where product_id = #{productId}
	</select>
	
	
	


</mapper>